.hero-wrapper {
    background-color: rgba(0, 0, 0, .75);
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    background-blend-mode: darken;
    min-height: 80vh;
}

article a {
    color: #fff;
    transition: background .25s, color .25s;
}

article a:hover {
    color: #000;
    background-color: #fff;
}

/* Scroll bar */
/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: .6rem;
    height: .6rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Accordion */
.accordion {
	max-width: 600px;
}

.accordion-item h2 button {
	font-size: 18px;
	font-weight: 600;
}

.accordion-item h2 button:hover {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
} 

.accordion-button::after {
	background-image: url('../assets/images/icon-plus.svg');
	background-size: auto;
	width: 2rem;
	height: 2rem;
	transform: none;
	transition: none;
}

.accordion-button:not(.collapsed) {
	background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
	background-image: url('../assets/images/icon-minus.svg');
	transform: none;
	transition: none;
}
