nav a.active {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
}

main .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main .journal .event:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

/* Fix overflow */
.flex-grow-1 {
    min-width: 0;
}