nav a.active {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-width: 3px !important;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
    border-radius: var(--bs-border-radius) !important;
    --bs-border-opacity: 1;
}
